* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    position: relative;
}

/* contenitore speaker */
.speaker {
    width: auto;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
}

.speaker span {
    color: white;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;

}

.speaker svg {
    fill: white;
}

/* contenitore maximize */

.maximize {
    width: auto;
    border: 1px solid black;
    padding: 7px;
    position: absolute;
    right: 0px;
    top: 5px;
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}

.maximize svg {
    fill: white;
}

/* contenitore immagini */
main {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.immagini-zoom {
    position: absolute;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 15px;
    column-gap: 5px;
}

.zoom {
    position: relative;
}

.immagini-zoom img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
    width: 285px;
}

.text {
    position: absolute;
    left: 0;
    bottom: 5px;
    height: auto;
    width: auto;
    background-color: grey;
    color: white;
    padding: 5px;
}

.text svg {
    fill: white;
}

/* contenitore footer */
footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(34, 34, 34);
    height: auto;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}


.icons svg {
    display: flex;
    fill: white;
    margin: 10px;
}

.icons2 svg {
    display: inline;
    fill: white;
    margin: 10px;
}

.text2 {
    display: block;
    color: white;
    padding: 10px;
}

.microfono {
    width: auto;
}

.comandi {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.icon-text {
    display: flex;
    flex-direction: column;

}

.icon-text h4 {
    text-align: center;
    color: white;
}

.comadi,
.icons2,
.first-column,
.second-column,
.third-column {
    display: flex;
}

.freccia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-column{
    background:grey;
    padding: 0 20px;
    display:flex;
}
.third-column span{
    color:red;
}
.end-meeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#share-screen svg{
    fill:green;
}
